#naviBox{
    margin-top: 2%;
    margin-left: 1.2%;
    height: 50px;
    width: 95.5%;
    background-color:#999999;
    border-radius: 5px;
}
#editInBox{
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 1.2%;
    height: 100%;
    width: 95.5%;
    white-space:nowrap;
    overflow:auto;
    background-color:#999999;
}
#treeBox{
    border-radius: 5px;
    height: 750px;
    width: 20%;
    overflow:auto;
    resize: horizontal;
    white-space:nowrap;
    background-color: #999999;
    /*float: left;*/
    /*position: absolute;*/
}
#editFormsBox{
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 5%;
    height: 750px;
    width: 60%;
    white-space:nowrap;
    overflow:auto;
    background-color:#999999;
    /*float: right;*/
}
#bottomBox{
    margin-top: 1%;
    margin-left: 2%;
    height: 50px;
    width: 94%;
    background-color:#999999;
    border-radius: 5px;
}
#stepBox{
    overflow:auto;
    height: 300px;
}
#stepTheadBox{
    overflow:auto;
}
.col-xs-12,.container-fluid{
    background-color: #cccccc;
}
.editManBox{
    overflow:auto;
}
.TableTitle{
    /*border: 1px dashed #FFFFFF*/
    background-color: #cccccc;
}
input,a,.form-control{
    color: #3c763d;
    font-weight: bold;
}
.blue
{
   color:blue;
}

/*ul>li{*/

/*}*/
/*ul>li>a{*/
    /*color: black;*/
/*}*/

/*ul>li> *{*/
    /*display: none;*/
/*}*/
/*ul>li:first-child>*{*/
    /*display: inline;*/
/*}*/

/*ul>li.selected{*/

/*}*/
/*ul>li.selected >a{*/
    /*color:blue;*/
/*}*/

/*ul>li.selected > * {*/
    /*display: inline;*/
/*}*/

/*.SameRowBox1{*/
    /*display: inherit;*/
/*}*/
